body{
background-color: white;
}

div.p1{
line-height:1em
}
div.p2{
line-height:0.3em
}

div.p3{
line-height:0.3em
}

section.p4{
font-size:12px;
}

p.p1{
font-size:16px;
}

p.p2{
font-size:16px;
}

h3{
font-size:18.72px;
}

image{
margin:0px;
padding:0px
}